.title {
    background-color: gold;
    border: 20px solid blue ;
    border-radius: 0 25PX 0 20PX;
    padding: 50px;
    margin: 20px;
    
}

.title:hover{
    background-color: rgb(255, 238, 138);
}

.title::after{
    background-color: brown;
}